<a href="https://colab.research.google.com/github/justkLOLk/Teaching/blob/master/JupyterNotebook/SQL/Create_alter_delete_zadani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL databáze - vytvoření- úprava a mazání tabulky

SQL databáze se používají k uložení a následnému zpracování dat.
Samotné databáze si můžeme představit jako klasické excelovské tabulky.
Kromě samotných informací se v databázích také nachází SŘBD (Systém Řízení Báze Dat), který umí s uloženými informacemi pracovat - např. ukládat, vyhledávat, provádět výpočty.

## Syntaxe
Jazyk SQL je dotazovací jazyk, pomocí kterého si můžeme "povídat" s databází.
V dotazech nezapisujeme, jak se má požadovaný výsledek získat, ale pouze zapíšreme co chceme za výsledek. Tyto příkazy budeme provádět pomocí knihovny, která se jmenuje my-sql-connector

__pozn.:__ Knihovna mysql-connector nebere jako validní datový typ text. Musí se zadat char(max. počet znaků), např.: jmeno char(10). V podkladech je však uveden datový typ text pro přehlednost. Tato poznámka platí pro všechny následující podklady.

## Instalace balíčku

In [ ]:
!pip install mysql-connector

# Připojení k databázi
Předtím než si budeme s databázemi povídat, tak se k nim musíme připojit.
To se provede následující částí kódu

In [1]:
import mysql.connector

# tento příkaz nás připojí do databáze
mydb = mysql.connector.connect(
    host = "ip databáze - řekne vám učitel"
    ,user = "řekne vám učitel"
    ,password = "řekne vám učitel"
    ,database = "řekne vám učitel"
)

mycursor = mydb.cursor() # proměnnou mycursor si můžeme představit jako myš a klávesnici, kterými zadáváme hodnoty do databáze a potvrzujeme příkazy

# tyto poslední 2 příkazy nás odpojí od databáze
mycursor.close()
mydb.close()

ModuleNotFoundError: No module named 'mysql'

# CREATE TABLE - vytvoření tabulky
Tabulkka se v databázi vytvoří pomocí klíčových slov CREATE TABLE

## Syntaxe

In [ ]:
mydb = mysql.connector.connect(
    host = "ip databáze - řekne vám učitel"
    ,user = "řekne vám učitel"
    ,password = "řekne vám učitel"
    ,database = "řekne vám učitel"
)
mycursor = mydb.cursor()

# do """""" se zadává samotný SQL požadavek
# příkaz execute si můžeme představit jako napsání SQL požadavku do phpMyAdmin
# SQL dotaz je v trojitých uvozovkách proto, abychom ho mohli napsat na více řádků (přehledně) - můžeme ho dát i do jednoduchých uvozovek, ale potom musí být na jednom řádku.
mycursor.execute("""CREATE TABLE Automobil(
    id int,
    spz char(7),
    pocet_sedadel int,
    max_rychlost int,
    nosnost int,
    nutna_kvalifikace text,
    datum_vyroby date
)""")

mydb.commit() # tento příkaz si můžeme představit jako stisknutí Enteru

mycursor.close()
mydb.close()

Při vytváření musíme zadat:
- Název tabulky
- Názvy sloupečků (atributy)
- Datový typ jednotlivých sloupečků (int, text, date, atd...)

# DROP TABLE - smazání tabulky
Slouží k mazání tabulek.
Aby smazání proběhlo úspěšně nesmí být na tabulce závislá jíná tabulka a tabulka kterou chceme smazat musí existovat.

In [ ]:
mydb = mysql.connector.connect(
    host = "dbs.spskladno.cz"
    ,user = "rekne_ucitel"
    ,password = "rekne_ucitel"
    ,database = "zavisi_na_useru"
)
mycursor = mydb.cursor()

mycursor.execute("""DROP TABLE Automobil;""")

mydb.commit()

mycursor.close()
mydb.close()

Dále můžeme ke sloupečkům přidat:
- Vlastní klíč (Primary Key)
- Cizí klíč (Foreign Key)
- NOT NULL - hodnota nesmí být prázdná
- UNIQUE - hodnota se nesmí v tabulce (v tomto sloupečku) opakovat
- AUTOINCREMENT - SŘBD sám přiřadí hodnotu - o jedná vyšší než je doposud nejvyšší
- DEFAULT - pokud není hodnota vypněna, uloží se tato nastavená
Podrobnější vysvětlení každého z atributu naleznete v samostatném JupyterNotebooku [Vlastnosti_atributu](https://github.com/JaroslavHolecek/Teaching/tree/master/JupyterNotebook/SQL)

Příkaz pro vytvoření tabulky s výše uvedenými specifikacemi může vypadat následovně

In [ ]:
mydb = mysql.connector.connect(
    host = "ip databáze - řekne vám učitel"
    ,user = "řekne vám učitel"
    ,password = "řekne vám učitel"
    ,database = "řekne vám učitel"
)
mycursor = mydb.cursor()

# mycursor.execute("""DROP TABLE Automobil """)
mycursor.execute("""CREATE TABLE Automobil(
    id int PRIMARY KEY AUTO_INCREMENT,  /* Vlastní klíč - může být jen jeden v tabulce */
    spz char(7) NOT NULL UNIQUE,        /* UNIQUE - v tabulce se nemůže opakovat spz, NOT NULL - spz musí být vyplněna*/
    pocet_sedadel int NOT NULL,         /* NOT NULL - počet sedadel musí být vyplněn */
    max_rychlost int,
    nosnost int,
    nutna_kvalifikace text NOT NULL DEFAULT "B",  /* DEFAULT - pokud nezadáme hodnotu doplní se "B", NOT NULL - nutná klasifikace musí být vyplněna - tedy nemůžeme manuálně vložit NULL*/
    datum_vyroby date
);""")

mydb.commit()

mycursor.close()
mydb.close()

# ALTER TABLE - úprava tabulky
Slouží k úpravě tabulky poté, co jsme ji již vytvořili.
Můžeme přidávat a mazat sloupečky, měnit datové typy, přidávat cizí klíče, atd...

In [ ]:
mydb = mysql.connector.connect(
    host = "ip databáze - řekne vám učitel"
    ,user = "řekne vám učitel"
    ,password = "řekne vám učitel"
    ,database = "řekne vám učitel"
)
mycursor = mydb.cursor()

#mycursor.execute("""DROP TABLE Automobil """)
mycursor.execute("""CREATE TABLE Automobil(
    id int PRIMARY KEY AUTO_INCREMENT,
    spz char(7) NOT NULL UNIQUE,
    pocet_sedadel int NOT NULL,
    max_rychlost int,
    nosnost int,
    nutna_kvalifikace text NOT NULL DEFAULT "B"
)""")

mydb.commit()

mycursor.execute("""ALTER TABLE Automobil ADD datum_vyroby date;""")

mydb.commit()

mycursor.close()
mydb.close()

# Datové typy
V databázích existuje mnoho datových typů, my se ale jimy nebudeme příliš zabívat.
Správné zvolení datového typu zefektivňuje chod databáze.
Přehled datových typů najdete [zde](https://www.w3schools.com/sql/sql_datatypes.asp).

# Cvičení
Zde bude následovat série úkolů, díky kterým si můžete ověřit, zda jste látku pochopili.

## Cvičení 1:
Připojte se k databázi a vytvořte tabulku s názvem Uživatel a atributy id(int), jméno(char(10)), příjmení(char(20)), email(char(50))

Nepřidávejte k atributům žádné další vlastnosti

In [4]:
mydb = mysql.connector.connect(
    host = "dbs.spskladno.cz"
    ,user = "student8"
    ,password = "spsnet"
    ,database = "vyuka8"
)
mycursor = mydb.cursor()

# TODO: zde vytvořte tabulku
mycursor.execute("""CREATE TABLE Uživatel(


""")

mydb.commit()

# tuto část neměnit!
mycursor.execute("""DESCRIBE Uživatel""")
table = str(mycursor.fetchall())
expected = "[('id', 'int(11)', 'YES', '', None, ''), ('jméno', 'char(10)', 'YES', '', None, ''), ('příjmení', 'char(20)', 'YES', '', None, ''), ('email', 'char(50)', 'YES', '', None, '')]"
if table == expected:
    print("Tabulka vytvořena správně.")
else:
  print("Tabulka není dle zadání.\nVaše tabulka:")
  print(table)
  print("Očekávaná tabulka:")
  print(expected)
  print("Výpis se liší na pozicích:", [ i for i in range(min(len(table),len(expected))) if table[i] != expected[i] ])


mycursor.execute("""DROP TABLE Uživatel""")
mydb.commit()

mycursor.close()
mydb.close()

NameError: name 'mysql' is not defined

## Cvičení 2:
Připojte se k databázi a vytvořte tabulku s názvem Uživatel, atributy a vlastnostmi atributů id(int, PRIMARY KEY, AUTO_INCREMENT), jméno(char(10), NOT NULL), příjmení(char(20), NOT NULL), email(char(50), NOT NULL, UNIQUE)

In [ ]:
mydb = mysql.connector.connect(
    host = "ip databáze - řekne vám učitel"
    ,user = "řekne vám učitel"
    ,password = "řekne vám učitel"
    ,database = "řekne vám učitel"
)
mycursor = mydb.cursor()

# TODO: zde přijde váš kód ->

# tuto část neměnit!
mycursor.execute("""DESCRIBE Uživatel""")
table = str(mycursor.fetchall())
expected = "[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('jméno', 'char(10)', 'NO', '', None, ''), ('příjmení', 'char(20)', 'NO', '', None, ''), ('email', 'char(50)', 'NO', 'UNI', None, '')]"
if table == expected:
    print("Tabulka vytvořena správně.")
else:
  print("Tabulka není dle zadání.\nVaše tabulka:")
  print(table)
  print("Očekávaná tabulka:")
  print(expected)
  print("Výpis se liší na pozicích:", [ i for i in range(min(len(table),len(expected))) if table[i] != expected[i] ])

mycursor.execute("""DROP TABLE Uživatel""")
mydb.commit()

mycursor.close()
mydb.close()

## Cvičení 3:
Dopište kód tak, aby se tabulka Uživatel rozšířila o atribut datum_narození(date). Pro rozšíření použijte příkaz ALTER

In [ ]:
mydb = mysql.connector.connect(
    host = "ip databáze - řekne vám učitel"
    ,user = "řekne vám učitel"
    ,password = "řekne vám učitel"
    ,database = "řekne vám učitel"
)
mycursor = mydb.cursor()

# tento příkaz neměnit!
mycursor.execute("""CREATE TABLE Uživatel(
    id int,
    jméno char(10),
    příjmení char(20),
    email char(50)
    )""")
mydb.commit()

# TODO: zde přijde váš kód ->


# tuto část neměnit!
mycursor.execute("""DESCRIBE Uživatel""")
table = str(mycursor.fetchall())
expected = "[('id', 'int(11)', 'YES', '', None, ''), ('jméno', 'char(10)', 'YES', '', None, ''), ('příjmení', 'char(20)', 'YES', '', None, ''), ('email', 'char(50)', 'YES', '', None, ''), ('datum_narození', 'date', 'YES', '', None, '')]"
if table == expected:
    print("Tabulka vytvořena správně.")
else:
  print("Tabulka není dle zadání.\nVaše tabulka:")
  print(table)
  print("Očekávaná tabulka:")
  print(expected)
  print("Výpis se liší na pozicích:", [ i for i in range(min(len(table),len(expected))) if table[i] != expected[i] ])

mycursor.execute("""DROP TABLE Uživatel""")
mydb.commit()

mycursor.close()
mydb.close()

## Cvičení 4:
Napište kód, který se připojí na vaši databázi, vytvořte tabulku Test s atributy a vlastnostmi atributů id(int, AUTO_INCREMENT, PRIMARY KEY), nazev(char(15) NOT NULL, UNIQUE).
Tabulku pomocí příkazu ALTER rozšiřte o atribut datum(date, NOT NULL).
Celou tabulku následně smažte.

In [ ]:
# Závěrečný úkol je celý na vás - výsledek si zkontrolujte přes dbs.spskladno.cz/myadmin

<p>Výsledek v MyAdmin</p>
<img width="500" src="https://raw.githubusercontent.com/JaroslavHolecek/Teaching/master/JupyterNotebook/SQL/Images/JyputerNotebook_checkExercise_SQLcreate.png">

In [ ]:
# zde tabulku po kontrole správnosti smažte - výsledek si zkontrolujte přes dbs.spskladno.cz/myadmin